*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* animation: changes 13s  ease-in-out infinite; */
}
@keyframes changes{
    0%
    {
        background:rgba(228, 189, 195,) ;
}
50%{
    background: rgb(103, 170, 190);
}
100%{
    background: #71bdad;
}
}
.container{
    /* width: 80%; */
    text-align: center; 
    border: 3.5px solid rgb(14, 13, 13);
    border-radius: 3px;
    animation: changes 13s  ease-in-out infinite;
}
.otp-content{
    margin: 2em;
   
}
.otp{
    /* animation: changes 13s  ease-in-out infinite; */
border-radius: 5px;
font-size: 4rem;
font-family: 'Times New Roman', Times, serif;
height: 100px;
width: 80px;
border:1.5px solid rgb(168, 63, 63);
text-align: center;
margin: auto 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp:focus-visible{
    outline:1.5px solid rgb(168, 63, 63);
}
.otp:valid{
    border-color: rgb(57, 88, 187);
    box-shadow: 0px 10px 10px -5px rgba(236, 227, 227, 0.5);
}
::placeholder{
    color: rgba(235, 104, 104, 0.692);
}
.para{
    /* animation: changes 13s  ease-in-out infinite; */
    text-align: center;
    background-color: rgba(243, 234, 234, 0.932);
    width: 400px;
    margin: 1.7rem auto;
    border-radius: 5px;
    padding: 10px;
}